@use '../utils/' as u;
.searchChar {
  z-index: 99;
  fieldset {
    display: flex;
    border: none;
    height: u.rem(40);
  }
  &__input {
    font-size: var(--fs-500);
    border: none;
    background-color: #fff;
    padding: u.rem(5) u.rem(12);
  }
  &__btn {
    background-color: #2c2c2c;
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #fff;
    padding-inline: 1rem;
    cursor: pointer;
  }
}
